*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    font-family: monospace;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

input, button {
    display: block;
    width: 100%;
    padding: 16px;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    color: inherit;
    text-align: inherit;

    &:focus-visible {
        outline: 2px solid #c4ac00;
        outline-offset: 2px;
    }
}

input {
    background: #222222;
}

button {
    background: #f7df1e;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: #c4ac00;
    }
}

.join-container {
    width: 100%;
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.25rem;

    h1 {
        margin: 0;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    label {
        display: block;
    }
}

.game-status {
    width: 100%;
    padding: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;

    h1 {
        margin: 0;
        font-size: 1.75rem;
    }

    p {
        margin: 0;
    }

    button {
        width: fit-content;
    }

    pre {
        word-wrap: break-word;
        tab-size: 4;
        margin: 0;
        font-size: 1rem;
        color: #8b8b8b;
        margin-top: 16px;
        white-space: pre-wrap;
    }
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        border-bottom: 10px solid #222222;
        padding: 20px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: row;
        gap: 20px;

        .question {
            flex: 1;
        }

        .timer {
            min-width: 6ch;
            font-size: 1.75rem;
            text-align: right;
        }
    }

    .players {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;

        .player {
            flex: 1;
            font-size: 16rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &.is-current {
                background: #222222;

                &.is-you {
                    background: #f7df1e;
                    color: #000000;
                }
            }

            .submit {
                font-size: 1.25rem;
                background: #000000;
                color: #ffffff;
                width: fit-content;
                position: absolute;
                bottom: 20px;

                &:hover {
                    background: #222222;
                }

                &:focus-visible {
                    outline-color: #000000;
                }
            }
        }
    }
}

::selection {
    background: #f7df1e;
    color: #000000;
}
