:root {
    --theme-js: #f7df1e;
    --theme-js-darker: #c4ac00;
    --theme-py: #5ca1ff;
    --theme-py-darker: #3e7dd3;

    --theme: #ffffff;
    --theme-darker: #8b8b8b;
}

@property --left {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --right {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

input, button {
    display: block;
    width: 100%;
    padding: 16px;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    color: inherit;
    text-align: inherit;

    &:focus-visible {
        outline: 2px solid var(--theme-darker);
        outline-offset: 2px;
    }
}

input {
    background: #222222;
}

button {
    background: var(--theme);
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: var(--theme-darker);
    }
}

.join-container {
    width: 100%;
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.25rem;

    h1 {
        margin: 0;
        font-size: 2.5rem;

        .brand {
            color: var(--theme);
        }
    }

    p {
        margin: 0;
        font-size: 1rem;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #8b8b8b;

        a {
            text-decoration: none;
            outline-offset: 2px;

            &.pybee {
                color: var(--theme-py);

                &:focus-visible {
                    outline: 2px solid var(--theme-py-darker);
                }
            }

            &.jsbee {
                color: var(--theme-js);

                &:focus-visible {
                    outline: 2px solid var(--theme-js-darker);
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    label {
        display: block;
    }
}

.mode-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    label {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        border: 2px solid #222222;
        cursor: pointer;
        position: relative;

        p.title {
            font-size: 1rem;
            line-height: 1.5;
            font-weight: bold;
        }

        p.description {
            margin: 0;
            font-size: 1rem;
            margin-bottom: 10px;
            line-height: 1.5;
            color: #8b8b8b;
        }

        input[type='radio'] {
            height: 1px;
            width: 1px;
            opacity: 0;
            position: absolute;
        }

        &:has(:checked) {
            border-color: var(--theme);
        }

        &:has(:focus-visible) {
            border-color: #222222;
            outline: 2px solid var(--theme);
            outline-offset: 2px;
        }
    }
}

.game-status {
    width: 100%;
    padding: 40px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;
    background: #111111;

    h1 {
        margin: 0;
        font-size: 1.75rem;
    }

    p {
        margin: 0;
        line-height: 1.5;
        word-wrap: break-word;
    }

    button {
        width: fit-content;
    }

    pre {
        word-wrap: break-word;
        tab-size: 4;
        margin: 0;
        font-size: 1rem;
        color: #8b8b8b;
        margin-top: 16px;
        white-space: pre-wrap;
    }
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        border-bottom: 10px solid #222222;
        padding: 20px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: row;
        gap: 20px;

        .question {
            padding-top: 3px;
            flex: 1;
        }

        .timer {
            min-width: 6ch;
            font-size: 1.75rem;
            text-align: right;
        }
    }

    .players {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;

        .player {
            flex: 1;
            font-size: 16rem;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;

            .fg {
                --left: 100%;
                --right: 100%;
                --speed: 0ms;
                --easing: ease;
                will-change: clip-path;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                clip-path: polygon(var(--left) 0%, var(--right) 0%, var(--right) 100%, var(--left) 100%);
                background: #222222;
                pointer-events: none;
                animation: slide-out var(--speed) var(--easing);

                .cursor {
                    position: absolute;
                    margin-top: 1em;
                    height: 14px;
                    width: 1ch;
                    background: currentColor;
                    opacity: 0.5;
                    animation: 1.25s blink infinite linear;
                }
            }

            .you {
                font-size: 2rem;
                position: absolute;
                top: 20px;
                color: var(--theme);
            }

            &.is-you .fg {
                background: var(--theme);
                color: #000000;

                .you {
                    color: #000000;
                }
            }

            &.is-current .fg {
                --left: 0%;
                --right: 100%;
                animation: slide-in var(--speed) var(--easing);
            }

            &.animate .fg {
                --speed: 200ms;
            }

            .submit {
                font-size: 1.25rem;
                background: #000000;
                color: #ffffff;
                width: fit-content;
                position: absolute;
                bottom: 20px;

                &:hover {
                    background: #222222;
                }

                &:focus-visible {
                    outline-color: #000000;
                }
            }
        }
    }
}

@keyframes slide-in {
    0% {
        --left: 0%;
        --right: 0%;
    }
    100% {
        --left: 0%;
        --right: 100%;
    }
}

@keyframes slide-out {
    0% {
        --left: 0%;
        --right: 100%;
    }
    100% {
        --left: 100%;
        --right: 100%;
    }
}

@keyframes blink {
    0% { opacity: 0; }
    10% { opacity: 0.5; }
    60% { opacity: 0.5; }
    70% { opacity: 0; }
    100% { opacity: 0; }
}

.keyboard {
    color: #000000;
    width: 100%;
    display: none;
    user-select: none;

    .simple-keyboard.hg-theme-default {
        border-radius: 0;
        font-family: 'Inter', sans-serif;
    }

    .hg-theme-default .hg-button {
        height: 12vw;
        max-height: 60px;
        min-height: 40px;
    }

    .hg-row:has(.hg-button-space) > :not(.hg-button-space) {
        flex-grow: 0;
        min-width: 30px;
    }

    .hg-button-enter {
        min-width: 45px;
    }
}

@media (pointer: coarse) and (hover: none) {
    .keyboard {
        display: block;
    }
}

@media (max-width: 500px) {
    .game {
        .header {
            font-size: 1rem;
        }

        .players {
            .player {
                font-size: 12rem;
            }
        }
    }
}

::selection {
    background: var(--theme);
    color: #000000;
}
